<div class="loginContainer">
  <form action="" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-container">
        <h1 id="loginText" class="p-5">Register</h1>
        <section id="loginInput" >
          <input class="form-control text-center" formControlName="userName" id="registrationPageUserName" type="text" name="username" placeholder="Username">
          <br>
          <input class="form-control text-center" formControlName="password"  id="registrationPageUserPassword" type="password" name="password"
            placeholder="Password">
          <br>
          <button class="btn btn-success w-50" style="height: 47px;" type="submit">Register</button>
    
        </section>
      </div>
    
</form>
</div>